@model Instituciones.Models.empresa

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Empresa</h2>

<h3>¿Estás segura de que quieres eliminar este registro?</h3>
<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rubro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rubro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actividadPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actividadPrincipal)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
